Page(v-el:page name=name class=style.page).navbar-fixed
  Navbar
  .page-content
    .content-block
      icon(id='dry_terminal', class=style.notFound)
      h1(class=style.title) 404
      h2(class=style.content) not found
